/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/HorasComJavaFX/nbproject/private/
/HorasJavaFX/nbproject/private/
/HorasJavaFX/dist/
/HorasJavaFX/build/
/RelogioSwing/target/
/IdiomaSwing/target/
/Soma/target/
